.main__navigation{
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: right;
  top: 56px;
  right: 0;
  visibility: hidden;
  z-index: 2;
  @include s{
    @include flex(1 1 100%);
    background: transparent;
    opacity: 1;
    position: relative;
    top: 0;
    visibility: visible;
    text-align: center;
  }
  &.active{
    @include transition(0.3s all);
    background: $brand;
    opacity: 1;
    visibility: visible;
    @include s{
      @include transition(0s all);
      background: transparent;
    }
  }
  nav{
    height: 100%;
    position: relative;
    @include s{
      @include flexbox;
    }
    ul{
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(space-evenly);
      height: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      @include s{
        @include flex-direction(row);
        width: 100%;
      }
      li{
        list-style-type: none;
        @include s{
          margin: 0 0.5rem;
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
        a{
          box-sizing: border-box;
          color: white;
          display: inline-block;
          font-family: $font;
          font-size: 2rem;
          padding: 0 0.5rem;
          position: relative;
          text-decoration: none;
          width: 100%;
          @include xs{
            font-size: 2.25rem;
          }
          @include s{
            color: $dark;
            font-size: 1.75rem;
          }
          @include m{
            font-size: 2rem;
          }
          &:hover{
            &:after{
              background: $brand;
            }
          }
          &:after{
            @include s{
              content: "";
              @include transition(all 0.3s);
              height: 2px;
              left: 0;
              bottom: 0;
              position: absolute;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.navigation__open{
  @include transform(rotate(-90deg));
  box-sizing: border-box;
  color: $brand;
  cursor: pointer;
  display: inline-block;
  font-family: $font;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  position: absolute;
  right: 20px;
  @include s{
    display: none;
  }
}

.navigation__close{
  @include transition(all 0.3s);
  @include border-radius(50%);
  position: absolute;
  right: 22px;
  color: $brand;
  cursor: pointer;
  font-family: $font;
  font-size: 5rem;
  height: 2.5rem;
  line-height: 2rem;
  text-align: center;
  width: 2.5rem;
  display: none;
  @include s{
    display: none;
  }
}
