.null-instagram-feed{
  margin: 0;
  padding: 0;
  width: 100%;
  ul{
    @include flexbox;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li{
      a{
        width: 100%;
        img{
          width: 100%;
        }
      }
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10),
      &:nth-of-type(11),
      &:nth-of-type(12)
      {
        display: none;
      }
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6){
        @include s{
          display: block;
        }
      }
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9){
        @include l{
          display: block;
        }
      }
      &:nth-of-type(10),
      &:nth-of-type(11),
      &:nth-of-type(12){
        @include xl{
          display: block;
        }
      }
    }
  }
}

.instagram__heading{
  color: $dark;
  display: inline-block;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  position: relative;
  @include xs{
    font-size: 3rem;
  }
  @include s{
    font-size: 3.5rem;
  }
  @include m{
    font-size: 4rem;
  }
  @include l{
    font-size: 4.5rem;
  }
  @include xl{
    font-size: 5rem;
  }

  &:before{
    content: "";
    position: absolute;
    left: -5%;
    bottom: -1px;
    width: 110%;
    height: 8px;
    background-color: $brand;
    z-index: -1;
  }
  &--wrap{
    text-align: center;
    width: 100%;
  }
}