*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Reenie Beanie', cursive;
  font-weight: 300;
  margin: 0;
  color: $brand;
}

a{
  outline: none;
}

h1{
  font-size: 2.75rem;
  @include xs{
    font-size: 3.5rem;
  }
  @include s{
    font-size: 4rem;
  }
  @include m{
    font-size: 4.5rem;
  }
  @include l{
    font-size: 5rem;
  }
  @include xl{
    font-size: 5.5rem;
  }
}

h2{
  font-size: 2.5rem;
  @include xs{
    font-size: 3rem;
  }
  @include s{
    font-size: 3.5rem;
  }
  @include m{
    font-size: 4rem;
  }
  @include l{
    font-size: 4.5rem;
  }
  @include xl{
    font-size: 5rem;
  }
}

.screen-reader-text{
  display: none;
}